<div class="container-fluid">
    <div class="row" style="display: flex; flex-direction: column;">
        <article class="aligner">
            <div class="text-container">
                <h3>Currículo</h3>
                
                <h5>Jovani Brasil (<b>Currículo resumido</b>)</h5>
        
                <p>Olá, Meu nome é Jovani Brasil, tenho 28 anos de idade e atualmente moro em Porto Alegre, Rio Grande do Sul. Sou cientista
                    da computação formado pela PUCRS e programador na Compasso UOL.</p>
        
                <p>Minhas primeiras experiências foram dentro da universidade. Em 2012 entrei no Programa de Educação
                Tutorial da PUCRS (PET-PUCRS), onde desempenhei iniciação ciêntifica, tendo oportunidade de trabalhar junto a professores
                da PUCRS. Em 2013 entrei no Centro de Pesquisas em Engenharia de Sistemas da PUCRS (CePeS-PUCRS), onde era estagiário
                de desenvolvimento de software, desenvolvendo soluções para teste automatizado (funcional e desempenho) utilizando os
                princípios de teste baseado em modelos (MBT). Em 2015 iniciei minha jornada no Virtual Humans Simulation 
                Laboratory (VHLAB-PUCRS), onde fui bolsista, programando e testando os simuladores de multidões Crowdsim e Biocrowds. Lá
                tive diversas publicações junto ao grupo, tanto nacionais quanto internacionais (veja as publicações 
                <a href="http://lattes.cnpq.br/3411257639128251">aqui</a>). Quando saí do VHLAB em meados de 2016, voltei meu foco para a faculdade e no estudo de assuntos relacionados as 
                disciplinas.</p>

                <p>Então em março deste ano me tornei programador na Compasso UOL. Na Compasso UOL estou tendo a oportunidade de afiar minhas skills e 
                    de vivenciar experiência de projetos, trabalhar em equipe, utilizar metodologias ágeis e desenvolver soluções 
                    utilizando tecnologias de ponta. No momento estou alocado como desenvolvedor de testes automatizados no Santander 
                    Merchant Platform Solutions (SMPS/Getnet), sendo um dos responsáveis pela criação e execução de testes automatizados 
                    utilizando Postman e Nodejs.
                </p>
        
                <p>Apesar de estar utilizando JavaScript diariamente, estou focado no estudo de diversas tecnologias com alta demanda 
                    na indústria, em especial Java e o Spring Framework. Meus estudos também compreendem TypeScript, diversas tecnologias 
                    como JPA, Angular, Hibernate, Maven, NodeJs, Docker, Postman, Jenkins, JUnit, Jacoco, Cucumber, Solr, 
                    MariaDB, MySQL, MongoDB, Kafka e RabbitMQ.</p>
        
                <p>Para mais informações sobre a minha pessoa, você pode me mandar um email (jovanibrasil@gmail.com), dar uma olhada em meus projetos
                ou baixar meu currículo completo, logo abaixo.</p>
        
                <h5>Download (<b>Currículo completo</b>)</h5>
        
                Meu currículo completo pode ser baixado em PDF <a href="./assets/docs/cv-jovani.pdf" download="jovani-cv" alt="Meu CV">aqui</a>.
            </div>    
        </article>
    </div>
</div>