<div class="container-fluid">
    <div class="row" style="display: flex; flex-direction: column;">
        <div class="aligner">
            <article class="text-container item-aligner">
                    <p>
                        Aqui estão listados os projetos que venho desenvolvendo nos últimos meses. Para tal desenvolvimento, estão sendo utilizadas 
                        diversas tecnologias com alta demanda na indústria de desenvolvimento de software. <span class="text-danger">Devido a limitações
                        dos servidores utilizados, qualquer aplicação minha que esteja disponível ao público pode sobrer instabilidades ou até mesmo ficar 
                        indisponível. </span>
                    </p>
                    <p>
                        A ideia é com o tempo ir especificando melhor os detalhes de cada um dos projetos e compartilhar esse conhecimento por
                        meio do meu blog e do meu futuro canal no Youtube. Também em um futuro próximo produzirei alguns cursos explicando o
                        passo a passo para desenvolvimento das minhas aplicações. 
                    </p>
            </article>
        </div>
        <div class="aligner">
            <div class="item-aligner" id="accordion">
                <!-- Blog app -->
                <div class="card">
                    <div class="card-header" id="blogCardHead">
                        <h5 class="mb-0">
                            <a class="title overflow-hidden collapsed" data-toggle="collapse" data-target="#blogCardContent" 
                                aria-expanded="false" aria-controls="blogCardContent">Blog Pessoal (Spring + Angular + Bootstrap + JPA + MySQL)</a>
                        </h5>
                    </div>
                    <div id="blogCardContent" class="collapse" aria-labelledby="blogCardHead" data-parent="#accordion">
                        <div class="card-body">
                            <p>
                                A proposta do blog é compartilhar meu conhecimento com outros desenvolvedores. A ideia é focar nos assuntos de meu 
                                interesse, como engenharia de software e inteligência artificial. 
                                O blog pode ser acessado <a href="https://blog.jovanibrasil.com/">aqui</a>. 
                            </p>
                            <p>
                                Meu blog foi implementado do zero utilizando Angular 7 e Bootstrap 4 no frontend, Java (Spring) e MySQL no backend. 
                                <a href="https://github.com/jovanibrasil/blog-api">Aqui</a> está o repositório do backend e 
                                <a href="https://github.com/jovanibrasil/blog-app">aqui</a> o repositório do frontend.        
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Notes app -->
                <div class="card">
                    <div class="card-header" id="notesCardHead">
                        <h5 class="mb-0">
                            <a class="title title overflow-hidden collapsed" data-toggle="collapse" data-target="#notesCardContent" 
                                aria-expanded="false" aria-controls="notesCardContent">
                            Aplicativo de lembretes (Spring + Angular + Bootstrap + MongoDB)
                            </a>
                        </h5>
                    </div>
                    <div id="notesCardContent" class="collapse" aria-labelledby="notesCardHead" data-parent="#accordion">
                        <div class="card-body">        
                            <p>
                                Aplicativo que permite a criação de notas organizadas por cadernos. A ideia é ter um ambiente voltado para organização 
                                de tarefas, onde é possível gerenciar todas as atividade de maneira eficiente e eficaz, permitindo planejamento de tarefas.  
                                O aplicativo de notas pode ser acessado <a href="https://notes.jovanibrasil.com/">aqui</a>.         
                            </p>
                            <p>
                                O aplicativo de notas foi implementado do zero utilizando Angular 7 e Bootstrap 4 no frontend, Java (Spring) 
                                e MongoDB no backend. 
                                <a href="https://github.com/jovanibrasil/notes-api">Aqui</a> está o repositório do backend e 
                                <a href="https://github.com/jovanibrasil/notes-app">aqui</a> o repositório do frontend.  
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Summarization Tool app -->
                <div class="card">
                        <div class="card-header" id="summHeadContent">
                            <h5 class="mb-0">
                            <a class="title overflow-hidden collapsed" data-toggle="collapse" data-target="#summCardContent" aria-expanded="true" aria-controls="summCardContent">
                                Sumarizador de textos (Java 8 + Lógica Fuzzy + Algoritmos Genéticos + PLN)
                            </a>
                            </h5>
                        </div>
                        <div id="summCardContent" class="collapse" aria-labelledby="summHeadContent" data-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    Ferramenta para sumarização de textos em português utilizando abordagem extrativa. Nesta ferramenta estão implementadas 
                                    diversas opções de pré-processamento e features para análise do texto. 
                                    
                                    Como mecanismo de tomada de decisão é possível utilizar lógica fuzzy e em breve algoritmos genéticos e redes neurais.        
                                </p>                                  
                                <p>
                                    Implementado utilizando Java 8, utiliza bibliotecas como  <a href="https://opennlp.apache.org/">Apache OpenNLP</a>, 
                                    <a href="https://github.com/kavgan/ROUGE-2.0">Java ROUGE 2.0</a> e 
                                    <a href="http://jfuzzylogic.sourceforge.net/html/index.html">jFuzzyLogic</a>.       
                                </p>
                                <p>
                                    <a href="https://github.com/jovanibrasil/summarizer">Aqui</a> está o link para o repositório do código fonte do projeto.
                                </p>
                            </div>
                        </div>
                </div>
                <!-- Search API -->
                <div class="card">
                    <div class="card-header" id="searchCardHead">
                        <h5 class="mb-0">
                            <a class="title overflow-hidden collapsed" data-toggle="collapse" data-target="#searchCardContent" 
                                aria-expanded="false" aria-controls="searchCardContent">
                            Search API (Solr + Spark)
                            </a>
                        </h5>
                    </div>
                    <div id="searchCardContent" class="collapse" aria-labelledby="searchCardHead" data-parent="#accordion">
                        <div class="card-body">
                            <p>
                                API de busca implementada utilizando Spark e Solr. Atualmente está sendo utilizada para buscas
                                no meu blog. Note que ela está em desenvolvimento é resultado de um processo de aprendizagem, então 
                                qualquer problema certamente será corrigido no futuro.
                            </p>
                            <p>
                                A API Spark e a instância Solr rodam em containers distintos e o Solr está configurado para integrar com o MySQL.  
                                O deploy correto depende de uma instância do Vault devidamente configurada e acessada
                                via Jenkins, além de um banco em uma instância MySQL. 
                            </p>
                            <p>
                                <a href="https://github.com/jovanibrasil/search-api">Aqui</a> está o 
                                link para o repositório do código fonte do projeto.       
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Auth API -->
                <div class="card">
                    <div class="card-header" id="authCardHead">
                        <h5 class="mb-0">
                            <a class="title overflow-hidden collapsed" data-toggle="collapse" data-target="#authCardContent" 
                                aria-expanded="false" aria-controls="authCardContent">
                            API de autenticação JWT (Spring + JPA + MySQL)
                            </a>
                        </h5>
                    </div>
                    <div id="authCardContent" class="collapse" aria-labelledby="authCardHead" data-parent="#accordion">
                        <div class="card-body">
                            <p>
                                API de autenticação JWT implementada utilizando Spring.
                            </p>
                            <p>
                                <a href="https://github.com/jovanibrasil/auth-api">Aqui</a> está o 
                                link para o repositório do código fonte do projeto.       
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Email API -->
                <div class="card">
                    <div class="card-header" id="emailCardHead">
                        <h5 class="mb-0">
                            <a class="title overflow-hidden collapsed" data-toggle="collapse" data-target="#emailCardContent" 
                                aria-expanded="false" aria-controls="emailCardContent">
                            API de email (Spring + Apache Velocity)
                            </a>
                        </h5>
                    </div>
                    <div id="emailCardContent" class="collapse" aria-labelledby="emailCardHead" data-parent="#accordion">
                        <div class="card-body">
                            <p>
                                API de emails implementada utilizando Spring e Apache Velocity. No momento ela é usada
                                apenas pelo aplicativo de notas no processo de cadastro de usuário. 
                            </p>
                            <p>
                                <a href="https://github.com/jovanibrasil/email-api">Aqui</a> está o 
                                link para o repositório do código fonte do projeto.       
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Sniffer -->
                <div class="card">
                    <div class="card-header" id="snifferCardHead">
                        <h5 class="mb-0">
                            <a class="title overflow-hidden collapsed" data-toggle="collapse" data-target="#snifferCardContent" 
                                aria-expanded="false" aria-controls="snifferCardContent">
                            Sniffer (Java 8 + C)
                            </a>
                        </h5>
                    </div>
                    <div id="snifferCardContent" class="collapse" aria-labelledby="snifferCardHead" data-parent="#accordion">
                        <div class="card-body">
                            <p>
                                Neste projeto o objetivo é aprender mais sobre a integração de Java com linguagens de mais baixo
                                nível, como C. O recurso que permite integração e que foi utilizado aqui é o JNI (Java Native Interface).
    
                                Um Sniffer implementado em C (que utiliza basicamente RAW sockets) está sendo integrado com uma
                                GUI (Graphical User Interface). A ideia inicial é realizar uma simples integração e com o tempo
                                novas features deverão ser consideradas no projeto.
                            </p>
                            <p>
                                <a href="https://github.com/jovanibrasil/sniffer">Aqui</a> está o 
                                link para o repositório do código fonte do projeto.
                            </p>
                        </div>
                    </div>
                </div>    
                    <!-- Site pesoal -->
                    <div class="card">
                    <div class="card-header" id="jvCardHead">
                        <h5 class="mb-0">
                            <a class="title overflow-hidden collapsed" data-toggle="collapse" data-target="#jvCardContent" 
                                aria-expanded="false" aria-controls="jvCardContent">
                            Site Pessoal (Angular + Bootstrap)
                            </a>
                        </h5>
                    </div>
                    <div id="jvCardContent" class="collapse" aria-labelledby="jvCardHead" data-parent="#accordion">
                        <div class="card-body">
                            <p>
                                O site que você está neste momento.
                            </p>
                            <p>
                                <a href="https://github.com/jovanibrasil/jovanibrasil-app">Aqui</a> está o 
                                link para o repositório do projeto.       
                            </p>
                        </div>
                    </div>
                </div>
                    <!-- Pet-Clinic (Spring + Thymeleaf + Bootstrap + MySQL) -->
                    <div class="card">
                    <div class="card-header" id="petCardHead">
                        <h5 class="mb-0">
                            <a class="title overflow-hidden collapsed" data-toggle="collapse" data-target="#petCardContent" 
                                aria-expanded="false" aria-controls="petCardContent">
                                Pet-Clinic e Recipes (Spring + Thymeleaf + Bootstrap + MySQL)
                            </a>
                        </h5>
                    </div>
                    <div id="petCardContent" class="collapse" aria-labelledby="petCardHead" data-parent="#accordion">
                        <div class="card-body">
                            <p>
                                Aplicações que eu comecei a desenvolver recentemente no curso 
                                <a href="https://www.udemy.com/course/spring-framework-5-beginner-to-guru/">Spring Framework 5: Beginner to Guru</a>.
                                O Pet-Clinic um pequeno sistema de informação para clínica de animais. Já o Recipes é sistema para cadastro e consulta
                                de receitas culinárias.
                            </p>
                            <p>
                                <a href="https://github.com/jovanibrasil/pet-clinic">Aqui</a> está o 
                                link para o repositório do código fonte do Pet-Clinic e 
                                <a href="https://github.com/jovanibrasil/recipes">aqui</a> o repositório do Recipes.       
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Store System (JAVAEE + JSF + Primefaces + MySQL) -->
                <div class="card">
                    <div class="card-header" id="storeCardHead">
                        <h5 class="mb-0">
                            <a class="title overflow-hidden collapsed" data-toggle="collapse" data-target="#storeCardContent" 
                                aria-expanded="false" aria-controls="storeCardContent">
                                Store System (JAVA EE + JSF + Primefaces + Hibernate + MySQL)
                            </a>
                        </h5>
                    </div>
                    <div id="storeCardContent" class="collapse" aria-labelledby="storeCardHead" data-parent="#accordion">
                        <div class="card-body">
                            <p>
                                Um sistema de gerenciamento de produtos de uma loja. É possível cadastrar, consultar, remover e
                                editar produtos registrados no sistema. 
                            </p>
                            <p>
                                <a href="https://github.com/jovanibrasil/store-system">Aqui</a> está o 
                                link para o repositório do código fonte do projeto.       
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Kings Valley App -->
                <div class="card">
                    <div class="card-header" id="kvCardHead">
                        <h5 class="mb-0">
                            <a class="title overflow-hidden collapsed" data-toggle="collapse" data-target="#kvCardContent" 
                                aria-expanded="false" aria-controls="kvCardContent">
                            Kings Valley Game (Webservice SOAP - JAX-WS)
                            </a>
                        </h5>
                    </div>
                    <div id="kvCardContent" class="collapse" aria-labelledby="kvCardHead" data-parent="#accordion">
                        <div class="card-body">
                            <p>
                                Kings Valley é um jogo de tabuleiro em que um jogador ganha quando ocupa o centro do tabuleiro
                                com o seu rei, ou então impossibilita o oponente de realizar qualquer movimento. Um cliente
                                e mais documentação estão sendo produzidos e em breve estarão disponíveis.
                            </p>
                            <p>
                                O Kings Valley está sendo implementado utilizando Java, tanto para o cliente Desktop quanto 
                                para a API remota. <a href="https://github.com/jovanibrasil/kings-valley-game-api">Aqui</a> está o 
                                link para o repositório do código fonte do projeto.       
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Social Network (NodeJs + React) -->
                <div class="card">
                    <div class="card-header" id="socialCardHead">
                        <h5 class="mb-0">
                            <a class="title overflow-hidden collapsed" data-toggle="collapse" data-target="#socialCardContent" 
                                aria-expanded="false" aria-controls="socialCardContent">
                                Social Network (NodeJs + React)
                            </a>
                        </h5>
                    </div>
                    <div id="socialCardContent" class="collapse" aria-labelledby="socialCardHead" data-parent="#accordion">
                        <div class="card-body">
                            <p>
                                A ideia é unir duas aplicações que estão na gaveta já faz algum tempo. A primeira é um messenger 
                                e a segunda é uma aplicação parecida com Twitter. 
                            </p>
                            <p>
                                Como eu não estou interessado em me envolver com React no momento, este projeto vai demorar 
                                um pouco a evoluir em novas funcionalidades.
                            </p>
                            <p>
                                Em breve disponibilizarei os links para os repositórios dos projetos.       
                            </p>
                        </div>
                    </div>
                </div>
                    <!-- Escape From Hell, Cheetah e Camel Racing (Android + Java + Spring) -->
                    <div class="card">
                    <div class="card-header" id="privateCardHead">
                        <h5 class="mb-0">
                            <a class="title overflow-hidden collapsed" data-toggle="collapse" data-target="#privateCardContent" 
                                aria-expanded="false" aria-controls="privateCardContent">
                            Escape From Hell, Cheetah e Camel Racing (Android + Java + LibGdx + Spring)
                            </a>
                        </h5>
                    </div>
                    <div id="privateCardContent" class="collapse" aria-labelledby="privateCardHead" data-parent="#accordion">
                        <div class="card-body">
                            <p>
                                Estes são projetos privados que em breve serão publicados oficialmente. O Escape From Hell é
                                um game no estilo Endless Runner, Camel Racing é um game de corrida de camelos e o Cheetah* é
                                um app de tracking de corridas e caminhadas. 
                            </p>
                            <p>
                                * Cheetah é um guepardo. Ela é o animal terrestre mais rápido do mundo.
                            </p>
                        </div>
                    </div>
                </div>
                    <!-- Docker files -->
                    <div class="card">
                    <div class="card-header" id="filesCardHead">
                        <h5 class="mb-0">
                            <a class="title overflow-hidden collapsed" data-toggle="collapse" data-target="#filesCardContent" 
                                aria-expanded="false" aria-controls="filesCardContent">
                            Dockerfiles 
                            </a>
                        </h5>
                    </div>
                    <div id="filesCardContent" class="collapse" aria-labelledby="filesCardHead" data-parent="#accordion">
                        <div class="card-body">
                            <p>
                                Existe conjunto de Dockerfiles que eu utilizo em meus projetos. Alguns podem se encontrar
                                incompletos ou não estarem disponíveis neste repositório, podendo se
                                encontrar no respectivo repositório de projeto ao qual o Dockerfile é usado.  
                            </p>
                            <p>
                                <a href="https://github.com/jovanibrasil/docker-files">Aqui</a> está o 
                                link para o repositório do código fonte dos Dockerfiles.       
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="aligner">
            <article class="text-container item-aligner">
                <p>
                    Fique a vontade para me enviar email para jovanibrasil@gmail.com no caso de qualquer dúvida, sugestão ou reclamação.
                </p>
            </article>
        </div>
    </div>
</div>