<div class="row" style="display: flex; flex-direction: column;">
    <div class="aligner">
        <article class="text-container item-aligner">
               <p>
                    Aqui estão listados os projetos que venho desenvolvendo nos últimos meses. No desenvolvimento dos meus projetos 
                    estão sendo utilizadas diversas tecnologias com alta demanda na indústria de desenvolvimento de software. 
               </p>
               <p>
                    No que se refere a projetos web, que é o meu foco atual, no frontend estou majoritariamente utilizando Angular e Bootstrap, 
                    e recentemente comecei um projeto com React. Já no backend estou utilizado JAVA com Spring Framework na maioria dos 
                    projetos, porém também recentemente iniciei um projeto utilizando Node e Express. No tocante a banco de dados, são 
                    utilizados os bancos MySQL e MongoDB. Nos projetos desktop tenho utilizado Python e Java SE, Python quando se refere a 
                    análise de dados, e Java para os demais tipos de aplicações. Utilizo o Github como repositório dos projetos e um servidor 
                    na AWS (configurado do zero) para rodar os projetos com com toda uma infra de containers usando Docker. Para integração 
                    e deploy das aplicações com um bom grau de automação, tenho utilizado Jenkins. 
               </p>
               <p>
                    A ideia é com o tempo ir especificando melhor os detalhes de cada um dos projetos e compartilhar esse conhecimento por
                    meio do meu blog e do meu futuro canal no Youtube. Também em um futuro próximo produzirei alguns cursos explicando o
                    passo a passo para desenvolvimento das minhas aplicações. 
               </p>
        </article>
    </div>
    <div class="aligner">
        <div class="item-aligner" id="accordion">
            <div class="card">
                <div class="card-header" id="blogCardHead">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#blogCardContent" 
                            aria-expanded="false" aria-controls="blogCardContent">Blog</button>
                    </h5>
                </div>
                <div id="blogCardContent" class="collapse" aria-labelledby="blogCardHead" data-parent="#accordion">
                    <div class="card-body">
                        <p>
                            A proposta do blog é compartilhar meu conhecimento com outros desenvolvedores. A ideia é focar nos assuntos de meu interesse, como 
                            engenharia de software, inteligência artificial e infraestrutura. O blog pode ser acessado <a href="https://blog.jovanibrasil.com/">aqui</a>. 
                        </p>
                        <p>
                            Meu blog foi implementado do zero utilizando Angular 7 e Bootstrap 4 no frontend, Java (Spring) e MySQL no backend. Em breve disponibilizarei 
                            o link para o repositório do código fonte do projeto.        
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="notesCardHead">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#notesCardContent" 
                            aria-expanded="false" aria-controls="notesCardContent">
                        Aplicativo de lembretes
                        </button>
                    </h5>
                </div>
                <div id="notesCardContent" class="collapse" aria-labelledby="notesCardHead" data-parent="#accordion">
                    <div class="card-body">        
                        <p>
                            Aplicativo que permite a criação de notas organizadas por cadernos. A ideia é ter um ambiente voltado para organização de tarefas, onde é 
                            possível gerenciar todas as atividade de maneira eficiente e eficaz, permitindo planejamento de tarefas.  O aplicativo de notas pode ser 
                            acessado <a href="https://notes.jovanibrasil.com/">aqui</a>.         
                        </p>
                        <p>
                            O aplicativo de notas foi implementado do zero utilizando Angular 7 e Bootstrap 4 no frontend, Java (Spring) e MongoDB no backend. Em breve 
                            disponibilizarei o link para o repositório do código fonte do projeto. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                    <div class="card-header" id="summHeadContent">
                        <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#summCardContent" aria-expanded="true" aria-controls="summCardContent">
                            Sumarizador de textos
                        </button>
                        </h5>
                    </div>
                    <div id="summCardContent" class="collapse" aria-labelledby="summHeadContent" data-parent="#accordion">
                        <div class="card-body">
                            <p>
                                O Summ-Tool é uma ferramenta para sumarização de textos em português utilizando abordagem extrativa. Nesta ferramenta estão implementadas 
                                diversas opções de pré-processamento, como segmentação e normalização de textos, POS (Part-Of-Speech Tagger) e NER (Named entity recognition). 
                                Também são disponibilizadas diversas opções de features para análise do texto. Como mecanismo de tomada de decisão é possível utilizar lógica 
                                fuzzy, algoritmos genéticos e em breve redes neurais.        
                            </p>                                  
                            <p>
                                O Summ-Tool foi implementado utilizando Java. Bibliotecas como  <a href="https://blog.jovanibrasil.com/">Apache OpenNLP</a>, 
                                <a href="https://github.com/kavgan/ROUGE-2.0">Java ROUGE 2.0</a> e <a href="http://jfuzzylogic.sourceforge.net/html/index.html">jFuzzyLogic</a> 
                                foram utilizadas. Em breve disponibilizarei o link para o repositório do código fonte do projeto.       
                            </p>
                        </div>
                    </div>
                </div>
            <div class="card">
                <div class="card-header" id="kvCardHead">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#kvCardContent" 
                            aria-expanded="false" aria-controls="kvCardContent">
                        Kings Valley Game
                        </button>
                    </h5>
                </div>
                <div id="kvCardContent" class="collapse" aria-labelledby="kvCardHead" data-parent="#accordion">
                    <div class="card-body">
                        <!-- TODO description -->
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="ideCardHead">
                    <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#ideCardContent" aria-expanded="false" aria-controls="ideCardContent">
                        Infraestrutura
                    </button>
                    </h5>
                </div>
                <div id="ideCardContent" class="collapse" aria-labelledby="ideCardHead" data-parent="#accordion">
                    <div class="card-body">
                    
                        <!-- TODO description -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="aligner">
        <article class="text-container item-aligner">
            <p>
                Lembre-se, qualquer dúvida, sugestão, conselho ou reclamação, fique a vontade para me enviar um email.
           </p>
    </article>
</div>

</div>