div.container {
    width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.flex-container { /* menu é um container */
    /* display: flex; utilizarei o flexbox */
    align-items: center;
    justify-content: space-between;
}

/* article {
    margin-top: 100px;
    width:700px;
    margin-left: auto; 
    margin-right: auto;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    text-align: justify;
} */


/*
    estilo do projects.html
*/

.single-div {
    margin-left: 50px;
    margin-right: 50px;
}

.index {
     /* display: inline;
     float: none; */
     width: 500;
     margin: auto;
}

.centered-text {
    align-content: center;
    text-align: center;
}

p {
    text-align: justify;
}


/*
    estilo de fgsumm.html
*/

.summ-article {
    display: flex;
    flex-direction: column;
    margin-top: 100px;  
    justify-content: center;
    align-items: center;
}