/*
    estilo do home.html
*/

.circular {
    border-radius: 50%;
    background-color: #444;
}

i {
    margin: 5px 3px 5px;
}

.main-article {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row; 
    align-content: space-around;
    margin-top: 100px;  
}

.left-panel {
     /* display: flex; */
     flex-grow: 1; 
     text-align: center;
     margin: 10px 100px 10px 100px;
}

.right-panel {
    /* display: flex; */
    flex-grow: 2; 
    display: inline-block;
    text-align: justify;
    width: auto;
    margin: 10px 150px 10px 150px;
}
/* 
@media (max-width: 700px) {
    .right-panel {
        display: none;
    }
} */

@media (max-width: 900px) {
    .main-article {
        flex-direction: column;
    }
}


