<!DOCTYPE html">
<html lang="en">

<head>
    <title>Jovani's CV</title>
    <link rel="stylesheet" href="css/pagestyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="container">

        <%include header.html%>

        <article class="main-article">

            <div class="single-div">
                <h1>Currículo</h1>
               
                <h3>Jovani Brasil (Resumido)</h3>

                <p>
                Olá, Meu nome é Jovani Brasil, tenho 26 anos de idade e atualmente moro em São Jerônimo, Rio Grande do Sul. Sou quase formando
                em Ciência da Computação da PUCRS e atualmente estou focado em duas coisas: meus projetos e arrumar um emprego. Este site é 
                um dos meus projetos, e ele foi mais uma das melhores formas de aprender algo que eu encontrei.
                </p>

                <p>
                Posso dizer que todas as minhas experiências foram dentro da universidade. Em 2012 entrei no Programa de educação
                tutorial da PUCRS (PET-PUCRS), onde desempenhei iniciação ciêntifica, tendo oportunidade de trabalhar junto a professores
                da PUCRS. Em 2013 entrei no Centro de Pesquisas em Engenharia de Sistemas da PUCRS (CePeS-PUCRS), onde era estagiário
                de desenvolvimento de software, desenvolvendo soluções para teste automatizado (funcional e desempenho) utilizando os
                princípios de teste baseado em modelos (MBT). Em 2015 iniciei minha jornada no Virtual Humans Simulation 
                Laboratory (VHLAB-PUCRS), onde fui bolsista, programando e testando os simuladores de multidões Crowdsim e Biocrowds. Lá
                tive diversas públicações junto ao grupo, tanto nacionais quanto internacionais. 
                </p>

                <p>
                Desde que saí do VHLAB em meados de 2016, voltei meu foco para a faculdade e no estudo de assunto relacionados as 
                disciplinas. Em especial, engenheria de software e inteligência artificial tem sido as áreas de atenção especial por
                mim nos últimos meses, sendo que amo ambas as área e considero de extrema valia para a computação.  
                </p>

                <p>
                Atualmente estou em busca de um emprego como programador JAVA (estágio ou Júnior), sendo que me sinto capaz de atual
                na parte Web, desktop ou mobile. Tenho domínio satisfatório das linguagens JAVA, Python, C, e JavaScript. Em relação as
                variádas tecnologias que tenho utilizado ultimamente, posso destacar Servlets, JSP, JPA, JSF, Primefaces, Hibernate, Maven, 
                Node, Nginx, Gulp, JUnit e Solr.      
                </p>

                <p></p>
                Para mais informações sobre mim, você pode me mandar um email (jovanibrasil@gmail.com), ou dar uma olhada em meus projetos,
                ainda e baixar meu currículo, logo abaixo.
                </p>

                <h3>Download</h3>

                Meu currículo completo pode ser baixado em PDF <a href="jovanibrasil_cv.pdf" download="jovanibrasil_cv" alt="Meu CV">
                    <!-- <i class="fa fa-file-pdf-o"  style="font-size:18px;color:red"></i> -->
                    AQUI
                </a>.

            </div>

        </article>
    </div>
</html>