<!DOCTYPE html">
<html lang="en">

<head>
    <title>Jovani's CV</title>
    <link rel="stylesheet" href="css/pagestyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="container">

        <%include header.html%>

        <article class="main-article">

            <div class="single-div">
                <h1>Currículo</h1>
               
                <h3>Download</h3>

                Meu currículo completo pode ser baixado em PDF <a href="jovanibrasil_cv.pdf" download="jovanibrasil_cv" alt="Meu CV">
                    <!-- <i class="fa fa-file-pdf-o"  style="font-size:18px;color:red"></i> -->
                    AQUI
                </a>.

                <h3>Jovani Brasil (Currículo resumido)</h3>

                

            </div>

        </article>
    </div>
</html>