<!DOCTYPE html">
<html lang="en">

<head>
    <title>Jovani Brasil</title>
</head>

<body>

    <div class="container">

        <%include header.html%>

        <article class="main-article">

            <div class="left-panel">

                <img class="circular" src="me.jpg" alt="Jovani Brasil" height="250px">
                <div>
                    <a href="https://github.com/jovanibrasil" target="_blank" title="Github"><i class="fa fa-github" style="font-size:36px; color: #000;"></i></a>
                    <a href="https://www.linkedin.com/in/jovanibrasil" target="_blank" title="Linkedin"><i class="fa fa-linkedin"
                            style="font-size:36px; color: #000;"></i></a>
                    <a href="" target="_blank" title="Google Scholar"><i class="fa fa-graduation-cap" style="font-size:36px; color: #000;"></i></a>
                    <a href="" target="_blank" title="Lattes"><img src="lattes-icon.png" height="28px" style="color: #000;"
                        /></a>
                </div>
                <div>
                    <i class="fa fa-phone"  title="Phone" style="font-size:16px; color: #000;"> +55 (51) 993585599</i><br/>
                    <i class="fa fa-envelope"  title="Email" style="font-size:16px; color: #000;"> jovanibrasil@gmail.com</i>
                </div>

            </div>

            <div class="right-panel">
                <!-- <p>Welcome to my personal page!
                <p>There should be something here, but I don't know what yet. -->

                <p>
                Olá, bem vindo a minha página pessoal!
                </p>

                <p>
                Meu nome é Jovani Brasil, sou estudante de ciência da computação na Pontifícia Universidade Católica 
                do Rio Grande do Sul e atualmente estou me preparando para começar a trabalhar como desenvolvedor de software. 
                Hoje, minhas principais áreas de interesse são engenharia de software, processamento de linguagem natural 
                e machine learning. Tenho interesse nas mais diversas técnologias e gosto de estar sempre me atualizando. 
                Sou apaixonado pela educação à distância, sendo fã de plataformas como 
                <a href="https://www.coursera.org/" target="_blank">Coursera</a>, <a href="https://www.udemy.com/" target="_blank">Udemy</a> 
                e <a href="https://www.complexityexplorer.org/" target="_blank">Complexity Explorer</a>. 
                Caso necessário, sinta-se à vontade para entrar em contato comigo. 
                Você também pode visitar meu <a href="/CV">CV</a>, para mais detalhes sobre minhas qualificações.
                </p>

                <p>
                A ideia desta página é concentrar meus projetos, ideias e currículo, também servindo como objeto de aprendizagem,
                uma vez que tudo que foi e que será implementado aqui são resultados obtidos dos meus estudos de diversas tecnologias, 
                tanto no frontend quanto no backend. Para mais detalhes sobre as implementações, 
                consulte meus  <a href="/Projects">projetos</a>. 
                </p>

                <p>
                Esta página e meus projetos estão todos em deselvolvimento, então sugestões de melhorias e notificação de erros são bem 
                vindas para o processo de construção das soluções. 
                </p>                

                <img class="under-construction" src="under-construction.png" alt="Under Construction" > 

            </div>

        </article>

    </div>

</body>

</html>