<div class="row" style="display: flex; flex-direction: column;">
    <article class="aligner">
        <div class="text-container">
            <p>
                Meu blog está atualmente em desenvolvivento e pode ser acessado <a href="https://blog.jovanibrasil.com/">aqui</a>. 
                Em breve, quando eu terminá-lo, começarei a postar sobre diversos assuntos dentro do mundo do 
                desenvolvimento de software e inteligência artificial. 
            </p>
        </div>    
    </article>
</div>