.container {
    margin-top: 60px;
}

.aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-container {
    margin: 0px 10px;
    text-align: justify;
    max-width: 60%;
    margin-top: 60px;
}

article {
    padding: 10px;
    margin: 30px 10px;
}