<div class="row" style="display: flex; flex-direction: column;">
    <article class="aligner">
        <div class="text-container">
            <p>
                Meu blog está atualmente em desenvolvivento e pode ser acessado <a href="https://blog.jovanibrasil.com/">aqui</a>. 
                Em breve, quando eu terminá-lo, começarei a postar sobre diversos assuntos dentro do mundo do 
                desenvolvimento de software e inteligência artificial. Aqui você pode conferir o estado atual da 
                implementação e verificar atualizações do projeto.  
            </p>
            <ul>
                <li>
                    <i class="fa fa-bell"></i>
                    16/03/2019 - Primeira versão estável, porém ainda o mecânimo de busca não está funcionando.
                </li>
            </ul>
        </div>    
    </article>
</div>