<!DOCTYPE html">
<html lang="en">

<head>
    <title>cs-apps</title>
    <link rel="stylesheet" href="css/pagestyle.css">
</head>

<body>

    <div class="container">
        <header>
            <h1>Computer Science Applications</h1>
        </header>

        <nav class="nav">
            <!-- Site navigation menu -->
            <ul class="navbar">
                <li type="square"><a href="/">Home page</a>
                    <li type="square"><a href="aboutme.html">About the author</a>
            </ul>
        </nav>

        <article>
            <h1>About Me.</h1>

            <!-- Main content -->
            <h1>Area Under Construction!!</h1>

            <!--
                   <img src="static/weather-model.png" alt="Weather model" style="width:304px;height:228px;">
                    -->
            <p>Welcome to my personal page!

                <p>There should be more here, but I don't know what yet.

        </article>

        <footer>
            <!-- Sign and date the page, it's only polite! -->
            <p>Last update: December 12, 2016 <br> By: Jovani Brasil</p>
            <p>Contact information: <a href="jovanibrasil@gmail.com">
                    jovanibrasil@gmail.com</a>.</p>
        </footer>
    </div>
</body>

</html>