<!DOCTYPE html">
<html lang="en">

<head>
    <title>Jovani Brasil</title>
</head>

<body>

    <div class="container">

        <%include header.html%>

        <article class="main-article">

            <div class="left-panel">

                <img class="circular" src="me.jpg" alt="Jovani Brasil" height="250px">
                <div>
                    <a href="https://github.com/jovanibrasil" target="_blank" title="Github"><i class="fa fa-github" style="font-size:36px; color: #000;"></i></a>
                    <a href="https://www.linkedin.com/in/jovanibrasil" target="_blank" title="Linkedin"><i class="fa fa-linkedin"
                            style="font-size:36px; color: #000;"></i></a>
                    <a href="" target="_blank" title="Google Scholar"><i class="fa fa-graduation-cap" style="font-size:36px; color: #000;"></i></a>
                    <a href="" target="_blank" title="Lattes"><img src="lattes-icon.png" height="28px" style="color: #000;"
                        /></a>
                </div>
                <div>
                    <i class="fa fa-phone" style="font-size:16px; color: #000;">+55 (51) 993585599</i><br/>
                    <i class="fa fa-envelope" style="font-size:16px; color: #000;">jovanibrasil@gmail.com</i>
                </div>

            </div>

            <div class="right-panel">
                <!-- Main content -->
                <h1>Area Under Construction!!</h1>
                <img src="weather-model.png" alt="Weather model" style="width:304px;height:228px;">
                <p>Welcome to my personal page!
                    <p>There should be something here, but I don't know what yet.
            </div>

        </article>

    </div>

</body>

</html>